<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<style>
    .logout-button {
        position: absolute;
        right: 2%;
        top: 3%;
        width: 200px;
        height: 50px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .stock-decrease {
        background-color: #fa020240 !important;
    }

    .stock-increase {
        background-color: #2ff50740 !important;
    }
</style>

<body>
    <div class="m-5">
        {% if has_assemble_permission is True %}
        <a href="/aircrafts/" style="position: absolute;"> See Aircrafts --></a>
        {% endif %}
        <h1 class="d-flex justify-content-center text-decoration-underline">Parts</h1>
        <a href="/logout/" class="btn btn-info logout-button"> Logout </a>
        <hr>
        <table id="parts-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Aircraft that uses the part</th>
                    <th>Stock Count</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <h1 class="d-flex justify-content-center text-decoration-underline">Part Stock Mobility</h1>
        <hr>
        <table id="aircraft-productions-table">
            <thead>
                <tr>
                    <th>Part Name</th>
                    <th>Description</th>
                    <th>Process Type</th>
                    <th>Done By</th>
                    <th>Process Date</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <!-- If the user isn in the assembly team, then the user shouldn't have acces to edit part counts in stocks  -->
        {% if has_assemble_permission is True %}
        <div class="row">
            <div class="col-6 mt-5">
                <h1 class="d-flex justify-content-center text-decoration-underline">Add parts to stock</h1>
                <div class="row align-items-center">
                    <form method="post">
                        {% csrf_token %}
                        <input hidden value="add_to_stock" name="stock_process_type" />
                        <label class="form-label">Part:</label>
                        <div class="d-flex justify-content-center col-10">
                            <select name="part_stock_id" class="user-team-dropdown form-control" required>
                                <option selected="selected" value="" selected disabled hidden>
                                    Choose the part that you would like to add to stocks
                                </option>
                                {% for available_part_with_stock in available_parts_with_stocks %}
                                <option value="{{ available_part_with_stock.id }}">
                                    {{ available_part_with_stock.part.name }} -
                                    (Stock Count: {{available_part_with_stock.count}})
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <label class="form-label mt-3">Amount</label>
                        <div class="d-flex col-10">
                            <input class="w-100" type="number" name="amount_added" min="1"
                                onkeyup="if(value<0) value=1;" />
                        </div>
                        <div class="d-flex justify-content-center mt-5">
                            <button type="submit" class="btn btn-primary">
                                Add
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-6 mt-5">
                <h1 class="d-flex justify-content-center text-decoration-underline">Remove parts from stock</h1>
                <div class="row align-items-center">
                    <form method="post">
                        {% csrf_token %}
                        <input hidden value="remove_from_stock" name="stock_process_type" />
                        <label class="form-label">Part:</label>
                        <div class="d-flex justify-content-center col-10">
                            <select name="part_stock_id" class="user-team-dropdown form-control" required>
                                <option selected="selected" value="" selected disabled hidden>
                                    Choose the part that you would like to remove from stocks
                                </option>
                                {% for available_part_with_stock in available_parts_with_stocks %}
                                <option {% if available_part_with_stock.count is 0 %} disabled {% endif %}
                                    value="{{ available_part_with_stock.id }}">
                                    {{ available_part_with_stock.part.name }} -
                                    (Stock Count: {{available_part_with_stock.count}})
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <label class="form-label mt-3">Amount</label>
                        <div class="d-flex col-10">
                            <input class="w-100" type="number" name="amount_removed" min="1"
                                onkeyup="if(value<0) value=1;" />
                        </div>
                        <div class="d-flex justify-content-center mt-5">
                            <button type="submit" class="btn btn-primary">
                                Remove
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script language="javascript">
        $(document).ready(function () {
            $('#parts-table').dataTable({
                serverSide: true,
                responsive: true,
                sAjaxSource: "http://localhost:8000/partsData/",
                columns: [
                    {
                        name: "name",
                        data: 0
                    },
                    {
                        name: "description",
                        data: 1
                    },
                    {
                        name: "aircraft_name",
                        data: 2
                    },
                    {
                        name: "count",
                        data: 3
                    }
                ]
            });

            const dateFormatter = date => new Date(date).toLocaleDateString("en-US", { month: "short", day: "2-digit", year: "numeric" });
            $(document).ready(function () {
                $('#aircraft-productions-table').dataTable({
                    serverSide: true,
                    sAjaxSource: "http://localhost:8000/partStockMobilityData/",
                    createdRow: (row, data) => {
                        const [, , , status] = data;
                        /** 
                        * Display red color on background for stock decrease processes
                        * Display green color on background for stock increase processes
                        */
                        $(row).addClass(status.toLowerCase().includes('increase') ? 'stock-increase' : 'stock-decrease')
                    },
                    // Sort by id to display the latest added log in the first row
                    order: [[0, "desc"]],
                    columns: [
                        {
                            name: "part_name",
                            data: 1
                        },
                        {
                            name: "description",
                            data: 2
                        },
                        {
                            name: "status",
                            data: 3
                        },
                        {
                            name: "done_by",
                            data: 4
                        },
                        {
                            name: "created_at",
                            data: 5,
                            render: dateFormatter
                        },
                    ]
                });
            });
        });
    </script>
</body>

</html>